h2 {
  font-size: x-large;
  color: white;
}

img {
  border-radius: 5px;
}

.movie {
  margin: 20px 0;


  .movie__images {
    div.thumbnails .carousel {
      width: 100%;
      display: flex;

      .slick-item {
        transition: all 0.3s ease;

      }


      .slick-item:hover {
        transform: scale(1.02);
        cursor: pointer;

      }

      div.slick-item .movie_title {
        display: none;
      }


      div.slick-item:hover .movie_title {
        display: grid;
        z-index: 1000;
      }

      div.slick-item .movie_title p {
        margin-top: 1rem;
        color: white;
        text-align: center;

      }


      div.slick-item .movie_title .icons .material-icons {
        margin-top: 0.4rem;

      }


      div.slick-item:hover .movie_title .icons .material-icons {
        z-index: 1000;
        display: inline;
      }

      div.slick-item .movie_title .icons .material-icons {
        margin-top: 0.8rem;
        font-size: 40px;
        color: turquoise;
      }

      div.slick-item .movie_title .icons .material-icons:hover {
        background-color: #FF0066;
      }
    }
  }
}


