.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35rem;
  color: #999;
  background-color: #000;
  position: relative;
}

@media (min-width: 640px) {
  .hero {
    height: 50rem;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .hero {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 40%;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .slider .slider {
    position: relative !important;
  }
}

.backdrop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0;
}

@media (min-width: 1024px) {
  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 71.1%;
    height: 100%;
  }
}

.backdrop::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
}

@media (min-width: 1024px) {
  .backdrop::after {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000), color-stop(50%, transparent), to(transparent));
    background-image: linear-gradient(to right, #000 0, transparent 50%, transparent 100%);
  }
}

.backdrop > div {
  width: 100%;
}

@media (min-width: 1024px) {
  .backdrop > div {
    display: inline;
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 0;
  margin: 0;
  background: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
  .play {
    display: none;
  }
}

.image {
  display: inline-block;
  max-width: none;
  height: 100%;
}

@media (max-width: 1023px) {
  .image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.pane {
  padding: 0 1.5rem 1.5rem;
}

@media (min-width: 768px) {
  .pane {
    padding: 0 4rem 4rem;
  }
}

@media (min-width: 1024px) {
  .pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .pane {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1400px) {
  .pane {
    width: 45%;
  }
}

.name {
  margin: 0 0 1.4rem;
  font-size: 2.8rem;
  line-height: 1.1;
  color: #fff;
  letter-spacing: 0.4px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .name {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .name {
    font-size: 2.4vw;
  }
}

.name:focus {
  outline: none;
}

.meta {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1650px) {
  .meta {
    font-size: 0.9vw;
  }
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3rem;
}

@media (min-width: 768px) {
  .rating {
    margin: 0 1.2rem 0 0;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info span {
  margin-right: 0.4rem;
}

.info span:not(:last-child):after {
  content: "|";
  margin-right: 9px;
  margin-left: 9px;
}

.desc {
  display: block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  color: #fff;
  font-family: Dosis, sans-serif;
}

@media (max-width: 767px) {
  .desc {
    display: none;
  }
}

@media (min-width: 1650px) {
  .desc {
    font-size: 0.9vw;
  }
}

.trailer {
  margin-top: 3rem;
}

@media (max-width: 1023px) {
  .trailer {
    display: none;
  }
}

@media (min-width: 1650px) {
  .trailer {
    font-size: 0.9vw;
  }
}

.rate {
  font-size: 12px;
}

.rate i {
  font-size: 16px;
  margin-right: 5px;
}

.rate .material-icons {
  color: #dcf836;
}

.rate span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
/*# sourceMappingURL=home-slider.component.css.map */