.container {
  display: flex;
  flex-direction: column;


  .body {
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    position: relative;
    overflow: hidden;


    &::-webkit-scrollbar {
      display: none;
    }
  }


}
