mat-form-field{
  width: 100%;
}

.button-edit {
  margin-left: 13rem;
  background:   #1b9e1b;
  color: #ffffff;
  width: 100px;

}

.button-edit:hover {
  background-color: lime ;
}

.cancel-button{
  margin-left: 1rem;
  background: indianred;
  color: #ffffff;
}

.cancel-button:hover {
  background-color: red;
}
