/* You can add global styles to this file, and also import other style files */
.listing {
  margin: 2.5rem 1.5rem;
}
@media (min-width: 640px) {
  .listing {
    margin: 3rem 1.5rem;
  }
}
@media (min-width: 1200px) {
  .listing {
    margin: 5.1rem;
  }
}

.listing__head {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.5rem;
}
@media (min-width: 1200px) {
  .listing__head {
    margin-bottom: 2rem;
  }
}

.listing__title {
  font-size: 1.8rem;
  letter-spacing: 0.4px;
}
@media (min-width: 1200px) {
  .listing__title {
    font-size: 2.4rem;
  }
}

.listing__explore {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #2196f3;
  letter-spacing: 0.4px;
}
@media (min-width: 1200px) {
  .listing__explore {
    font-size: 1.4rem;
  }
}
.listing__explore:hover, .listing__explore:focus {
  opacity: 0.8;
}

.listing-item-style {
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 5px;
  margin: 11px 5px 11px;
  position: relative;
  cursor: pointer;
}
.listing-item-style:focus {
  outline-style: none;
}
.listing-item-style img {
  width: 100%;
  transition: all 0.5s ease-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.listing-item-style h6 {
  font-size: 14px;
  overflow: hidden;
  margin: 5px 4px;
  text-transform: uppercase;
  font-family: Dosis, sans-serif;
  font-weight: 700;
  padding: 2px 2px;
  color: #fff;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listing-item-style .rate {
  font-size: 12px;
  background: rgba(11, 26, 42, 0.95);
  padding: 1px 7px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 8px;
}
.listing-item-style .rate i {
  font-size: 16px;
  margin-right: 5px;
}
.listing-item-style .rate .material-icons {
  color: #dc4666;
}
.listing-item-style .rate span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.listing-item-style .year {
  position: absolute;
  left: 6px;
  background: rgba(11, 26, 42, 0.95);
  padding: 1px 7px;
  border-radius: 5px;
  top: auto;
  bottom: 21px;
  color: #fff;
  pointer-events: none;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 640px) {
  .listing-item-style {
    margin: 5px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: transparent;
}

.hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Dosis, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #dc4666;
  padding: 8px 15px;
  z-index: 2;
  width: 120px;
  height: 38px;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.hover i {
  position: absolute;
  line-height: 25px;
  font-size: 13px;
  left: 13px;
}

.listing-item-style:hover .overlay {
  opacity: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35rem;
  color: #999;
  background-color: #000;
  position: relative;
}
@media (min-width: 640px) {
  .hero {
    height: 50rem;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .hero {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 40%;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 640px) {
  .slider .slider {
    position: relative !important;
  }
}

.backdrop {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}
@media (min-width: 1024px) {
  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 57%;
    height: 100%;
  }
}
.backdrop::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
}
@media (min-width: 1024px) {
  .backdrop::after {
    background-image: linear-gradient(to right, #000 0, transparent 50%, transparent 100%);
  }
}
.backdrop > div {
  width: 100%;
}
@media (min-width: 1024px) {
  .backdrop > div {
    display: inline;
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 0;
  margin: 0;
  background: none;
  transform: translate(-50%, -50%);
}
@media (min-width: 1024px) {
  .play {
    display: none;
  }
}

.image {
  display: inline-block;
  max-width: none;
  height: 100%;
}
@media (max-width: 1023px) {
  .image {
    width: 100%;
    object-fit: cover;
  }
}

.pane {
  padding: 0 1.5rem 1.5rem;
}
@media (min-width: 768px) {
  .pane {
    padding: 0 4rem 4rem;
  }
}
@media (min-width: 1024px) {
  .pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .pane {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media (min-width: 1400px) {
  .pane {
    width: 45%;
  }
}

.name {
  margin: 0 0 1.4rem;
  font-size: 2.8rem;
  line-height: 1.1;
  color: #fff;
  letter-spacing: 0.4px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .name {
    margin-bottom: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .name {
    font-size: 2.4vw;
  }
}
.name:focus {
  outline: none;
}

.meta {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .meta {
    display: flex;
  }
}
@media (min-width: 1650px) {
  .meta {
    font-size: 0.9vw;
  }
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}
@media (min-width: 768px) {
  .rating {
    margin: 0 1.2rem 0 0;
  }
}

.info {
  display: flex;
  align-items: center;
}
.info span {
  margin-right: 0.4rem;
}
.info span:not(:last-child):after {
  content: "|";
  margin-right: 9px;
  margin-left: 9px;
}

.desc {
  display: block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  color: #fff;
  font-family: Dosis, sans-serif;
}
@media (max-width: 767px) {
  .desc {
    display: none;
  }
}
@media (min-width: 1650px) {
  .desc {
    font-size: 0.9vw;
  }
}

.trailer {
  margin-top: 3rem;
}
@media (max-width: 1023px) {
  .trailer {
    display: none;
  }
}
@media (min-width: 1650px) {
  .trailer {
    font-size: 0.9vw;
  }
}

.rate {
  font-size: 12px;
}
.rate i {
  font-size: 16px;
  margin-right: 5px;
}
.rate .material-icons {
  color: #dcf836;
}
.rate span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.backdrop_ .head {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.5rem;
}
@media (min-width: 1200px) {
  .backdrop_ .head {
    margin-bottom: 2rem;
  }
}
.backdrop_ .title {
  font-size: 1.8rem;
  letter-spacing: 0.4px;
}
@media (min-width: 1200px) {
  .backdrop_ .title {
    font-size: 2.4rem;
  }
}
.backdrop_ .count {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #abb7c4;
  letter-spacing: 0.4px;
}
@media (min-width: 1200px) {
  .backdrop_ .count {
    font-size: 1.4rem;
  }
}
.backdrop_ .items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.4rem;
  margin-left: -0.4rem;
}
.backdrop_ .item {
  padding: 0.4rem;
}
.backdrop_ .backdrop_ {
  width: 50%;
}
@media (min-width: 640px) {
  .backdrop_ .backdrop_ {
    width: 33.3333333%;
  }
}
@media (min-width: 1024px) {
  .backdrop_ .backdrop_ {
    width: 25%;
  }
}
@media (min-width: 1500px) {
  .backdrop_ .backdrop_ {
    width: 20%;
  }
}
@media (min-width: 1800px) {
  .backdrop_ .backdrop_ {
    width: 16.6666667%;
  }
}
@media (min-width: 2500px) {
  .backdrop_ .backdrop_ {
    width: 14.2857143%;
  }
}
.backdrop_ .poster {
  width: 33.3333333%;
}
@media (min-width: 640px) {
  .backdrop_ .poster {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .backdrop_ .poster {
    width: 20%;
  }
}
@media (min-width: 1500px) {
  .backdrop_ .poster {
    width: 16.6666667%;
  }
}
@media (min-width: 1800px) {
  .backdrop_ .poster {
    width: 14.2857143%;
  }
}
@media (min-width: 2500px) {
  .backdrop_ .poster {
    width: 12.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.slick-next {
  right: 20px;
  z-index: 99;
}
.slick-next:before {
  font-size: 40px;
}

.slick-prev {
  left: 20px;
  z-index: 99;
}
.slick-prev:before {
  font-size: 40px;
}

.navbarRegisterLogin {
  height: 70px;
}
@media (min-width: 640px) {
  .navbarRegisterLogin .nav-tool-items {
    margin-left: 30rem;
  }
}
@media (min-width: 768px) {
  .navbarRegisterLogin .nav-tool-items {
    margin-left: 40rem;
  }
}
@media (min-width: 1024px) {
  .navbarRegisterLogin .nav-tool-items {
    margin-left: 50rem;
  }
}
@media (min-width: 1200px) {
  .navbarRegisterLogin .nav-tool-items {
    margin-left: 60rem;
  }
}
@media (min-width: 1400px) {
  .navbarRegisterLogin .nav-tool-items {
    margin-left: 78rem;
  }
}
@media (min-width: 1800px) {
  .navbarRegisterLogin .nav-tool-items {
    margin-left: 103rem;
  }
}

.login-wrapper {
  height: 100%;
  margin-top: 7rem;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

/*# sourceMappingURL=styles.css.map */
