<div class="listing">
  <div class="listing__head">
    <h2 class="listing__title">Watch Later</h2>
  </div>

  <h3 style="color: red;" *ngIf="movie.length==1; else elseBlock">{{movie.length}} result found</h3>

  <div class="row">
    <div class="col-md-2 listing__items" *ngFor="let m of movie | slice:0:18">
      <div class="listing-item-style">
        <div class="overlay">
          <div class="hover" routerLink="/video/{{m.id}}"><i class="material-icons">play_arrow</i>PLAY NOW</div>
        </div>
        <img src='assets\images\{{m?.image_path}}'>

        <h6 style="color: #FF0066; text-align: center">{{m?.title}}</h6>
        <button mat-fab color="primary" (click)="deleteWatchLaterMovie(m.id)"
                style="position: absolute; right: 0px; top: 0px">
          <mat-icon>delete</mat-icon>
        </button>
        <p class="rate"><i class="material-icons">star</i><span>{{m?.imdb_rating}}</span> /10</p>
        <p class="year" style="color: lime"><span>{{m?.release_date | date: 'yyyy'}}</span>
        </p>

      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <h3 style="color: red;">{{movie.length}} results found</h3>
  </ng-template>
</div>
